@import "variables";
@import "mixins";

html,body{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-wrap: wrap;
  background: url('../../assets/bg_image.jpg') no-repeat center center fixed;
  @include prefix('background-size', '100% 100%');
  font-family: 'Raleway', sans-serif;

      a{
        text-decoration: none;
        color: inherit;
      }

      nav{
          display: flex;
          font-weight: 600;
          font-size: 11px;
          order: 1;
          width: 100%;

          #logo{
              margin: 5vh 52vw 0 4vw;
              order: 1;
            img{
              height: 6vh;
            }
          }

          .option{
            display: block;
            text-transform: uppercase;
            margin: 5.5vh 0 0 2vw;
            color: $font-color;
            order: 2;
            padding: 8px 5px 8px 0;
            line-height: 10px;
            height: 10px;

            hr {
              display: none;
              height: 0;
              border: 0;
              width: 50%;
              border-bottom: 2px solid #fff;
              margin: 8px 0 0;
              padding: 0;
            }

            &:hover{
                  hr{
                    display: block;
                  }
            }
          }

          .visited{
            border-bottom: 2px solid $font-color;
          }

          .contact{
            border-radius: 3px;
            border: solid 2px $font-color;
            padding: 7px 20px;
          }

          .contact:hover{
            background-color: $font-color;
            color: $bg-color;
          }
      }

      main{
        order: 2;
        width: 100%;

        p{
          font-size: 26px;
          width: 40%;
          margin: 15vh auto 0;
          text-align: center;

          span{
            color: $font-color;
            font-weight: 600;
          }
        }

        .animation{
            margin: 12vh auto 0;
            width: 90px;
            height: 90px;

            object{
              width: 80px;
              height: 80px;
            }

            .active{
              -webkit-animation: spin 2s linear;
              -moz-animation: spin 2s linear;
              animation: spin 2s linear;
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

        }
      }

  }
