html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  display: flex;
  flex-wrap: wrap;
  background: url("../../assets/bg_image.jpg") no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: "Raleway", sans-serif;
}
body object {
  pointer-events: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body nav {
  display: flex;
  font-weight: 600;
  font-size: 11px;
  order: 1;
  width: 100%;
}
body nav #logo {
  margin: 5vh 52vw 0 4vw;
  order: 1;
}
body nav #logo img {
  height: 6vh;
}
body nav #hamburger_menu {
  display: none;
  order: 2;
  min-width: 32px;
  min-height: 22px;
}
body nav #drawer {
  order: 2;
  display: flex;
}
body nav #drawer #image {
  display: none;
  width: 150px;
  margin: 20px auto 10px;
}
body nav #drawer #image img {
  height: 30px;
  width: 150px;
}
body nav #drawer #close {
  display: none;
  z-index: 10;
  width: 22px;
  height: 22px;
  position: fixed;
  right: 0;
  margin: 20px 30px 0 0;
}
body nav #drawer .option {
  display: block;
  text-transform: uppercase;
  margin: 5.5vh 0 0 2vw;
  color: #fff;
  order: 2;
  padding: 8px 5px 8px 0;
  line-height: 10px;
  height: 10px;
}
body nav #drawer .option hr {
  display: none;
  height: 0;
  border: 0;
  width: 50%;
  border-bottom: 2px solid #fff;
  margin: 8px 0 0;
  padding: 0;
}
body nav #drawer .option:hover hr {
  display: block;
}
body nav #drawer .visited {
  border-bottom: 2px solid #fff;
}
body nav #drawer .contact {
  border-radius: 3px;
  border: solid 2px #fff;
  padding: 7px 20px;
}
body nav #drawer .contact:hover {
  background-color: #fff;
  color: #001820;
}
body nav .open {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
body nav #tags {
  order: 3;
  display: none;
  margin-top: 5.5vh;
}
body nav #tags .socials {
  display: inline-block;
  margin-left: 35px;
  vertical-align: middle;
}
body nav #tags .socials:nth-of-type(1) {
  margin-left: 0;
}
body main {
  order: 2;
  width: 100%;
}
body main .motto {
  font-size: 26px;
  width: 29.5%;
  margin: 15vh auto 0;
  text-align: center;
}
body main .motto span {
  color: #fff;
  font-weight: 600;
}
body main .animation {
  margin: 12vh auto 0;
  width: 90px;
  height: 90px;
}
body main .animation object {
  width: 80px;
  height: 80px;
}
body main .animation .clicked {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  -ms-animation: spin 2s linear;
  -o-animation: spin 2s linear;
  animation: spin 2s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
body main .bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  margin: 12vh auto 0;
  text-align: center;
}
body main .socials-container {
  width: 100%;
  margin: 3vh auto 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
body main .socials-container .socials {
  display: inline-block;
  margin-left: 2.5vw;
  vertical-align: middle;
}
body main .socials-container .socials object {
  width: 16px;
  height: 16px;
  margin: 0 0.4vw 0 0;
}
body main .socials-container .socials #google,
body main .socials-container .socials #twitter {
  width: 20px;
  height: 20px;
}
body main .socials-container .socials:nth-of-type(1) {
  margin-left: 0;
}
body main .socials-container span {
  display: inline-block;
  height: 100%;
}
body main .socials-container span::before {
  content: "/";
  margin-right: 0.4vw;
}
body footer {
  order: 3;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}
body footer #wrapper {
  position: fixed;
  width: 140px;
  height: 60px;
  bottom: 0;
  right: 50%;
  margin-right: -70px;
  overflow: hidden;
}
body footer .triangle {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  width: 100px;
  height: 96px;
  top: 20px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
}
body footer .triangle p {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 40px;
  padding: 15px 0 0 3px;
}

@media only screen and (max-width: 1220px) {
  #logo {
    margin-right: 45vw !important;
  }

  main .motto {
    width: 35% !important;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background: url("../../assets/bg_image2.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  body nav {
    font-size: 10px !important;
  }
  body nav .option {
    padding: 7px 5px 7px 0 !important;
  }
  body nav hr {
    margin-top: 7px !important;
  }
  body nav .contact {
    padding: 6px 20px !important;
  }
  body #logo {
    margin-right: 42vw !important;
  }
  body main .motto {
    margin-top: 12vh !important;
    font-size: 26px !important;
    width: 39.2% !important;
  }
  body main .animation {
    margin-top: 13vh !important;
    width: 80px !important;
    height: 80px !important;
  }
  body main .animation object {
    width: 76px !important;
    height: 76px !important;
  }
  body main .socials-container span {
    font-size: 10px !important;
  }
  body main .socials-container .socials object {
    width: 15px !important;
    height: 15px !important;
  }
  body main .socials-container .socials #google,
body main .socials-container .socials #twitter {
    width: 19px !important;
    height: 19px !important;
  }
  body footer {
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 920px) {
  body #logo {
    margin-right: 40vw !important;
  }
  body nav .contact {
    padding: 6px 16px !important;
  }
  body main .motto {
    margin-top: 12vh !important;
    font-size: 26px !important;
    width: 42% !important;
  }
}
@media only screen and (max-width: 870px) {
  body #logo {
    margin-right: 36vw !important;
  }
  body main .motto {
    font-size: 22px !important;
  }
  body main .animation {
    margin-top: 15vh !important;
  }
}
@media only screen and (max-width: 800px) {
  body #logo {
    margin-right: 25vw !important;
  }
  body main .motto {
    font-size: 20px !important;
    width: 46% !important;
  }
}
@media only screen and (max-width: 680px) {
  body #logo {
    margin-right: 20vw !important;
  }
  body main .motto {
    font-size: 20px !important;
  }
  body main .animation {
    margin-top: 16vh !important;
  }
}
@media only screen and (max-width: 600px) {
  body #logo {
    margin-right: 15vw !important;
  }
  body main .motto {
    font-size: 20px !important;
    width: 50% !important;
  }
}
@media only screen and (max-width: 570px) {
  body nav #hamburger_menu {
    display: block;
    margin: 6vh 10vh 0 42vw;
  }
  body nav #drawer {
    -webkit-transform: translate(300px,-530px);
    -moz-transform: translate(300px,-530px);
    -ms-transform: translate(300px,-530px);
    -o-transform: translate(300px,-530px);
    transform: translate(300px,-530px);
    -webkit-transition: transform 0.1s ease-in;
    -moz-transition: transform 0.1s ease-in;
    -ms-transition: transform 0.1s ease-in;
    -o-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
    z-index: 10;
    background-color: #001820;
    width: 320px;
    height: 530px;
    padding: 10px;
    flex-direction: column;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
  }
  body nav #drawer .contact {
    padding: 7px 20px !important;
  }
  body nav #drawer #image {
    display: block;
  }
  body nav #drawer #close {
    display: block;
  }
  body nav #drawer #tags {
    display: block;
  }
  body nav #drawer .option {
    margin: 4vh auto;
    width: 100px;
  }
  body main .motto {
    font-size: 18px !important;
  }
  body main .animation {
    margin-top: 17vh !important;
  }
  body footer .triangle {
    width: 60px;
    height: 59px;
    top: 35px;
  }
  body footer p {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
  body footer p:after {
    content: "+";
    visibility: visible;
    display: block;
    position: absolute;
    margin: -30px 0 0 4px;
    width: 18px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 525px) {
  body {
    background: url("../../assets/bg_image_mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  body nav {
    text-align: center;
  }
  body nav #logo {
    width: 170px;
    margin: 5vh auto 0 calc(50% - 85px);
  }
  body nav #hamburger_menu {
    margin: 6vh 10vh 0 10vw !important;
  }
  body main .motto {
    font-size: 20px !important;
    color: #fff;
    margin-top: 8vh !important;
    width: 70% !important;
  }
  body main .animation {
    margin-top: 13vh !important;
  }
  body main .socials {
    display: block !important;
  }
}

/*# sourceMappingURL=src/css/main.css.map */
