html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  display: flex;
  flex-wrap: wrap;
  background: url("../../assets/bg_image.jpg") no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: "Raleway", sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}
body nav {
  display: flex;
  font-weight: 600;
  font-size: 11px;
  order: 1;
  width: 100%;
}
body nav #logo {
  margin: 5vh 52vw 0 4vw;
  order: 1;
}
body nav #logo img {
  height: 6vh;
}
body nav .option {
  display: block;
  text-transform: uppercase;
  margin: 5.5vh 0 0 2vw;
  color: #fff;
  order: 2;
  padding: 8px 5px 8px 0;
  line-height: 10px;
  height: 10px;
}
body nav .option hr {
  display: none;
  height: 0;
  border: 0;
  width: 50%;
  border-bottom: 2px solid #fff;
  margin: 8px 0 0;
  padding: 0;
}
body nav .option:hover hr {
  display: block;
}
body nav .visited {
  border-bottom: 2px solid #fff;
}
body nav .contact {
  border-radius: 3px;
  border: solid 2px #fff;
  padding: 7px 20px;
}
body nav .contact:hover {
  background-color: #fff;
  color: #001820;
}
body main {
  order: 2;
  width: 100%;
}
body main .motto {
  font-size: 26px;
  width: 40%;
  margin: 15vh auto 0;
  text-align: center;
}
body main .motto span {
  color: #fff;
  font-weight: 600;
}
body main .animation {
  margin: 12vh auto 0;
  width: 90px;
  height: 90px;
}
body main .animation svg {
  width: 80px;
  height: 80px;
}
body main .animation .clicked {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  animation: spin 2s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body main .bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  margin: 12vh auto 0;
  text-align: center;
}
body main .socials-container {
  width: 40%;
  margin: 3vh auto 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
body main .socials-container .socials {
  display: inline-block;
  margin-left: 2.5vw;
  vertical-align: middle;
}
body main .socials-container .socials object {
  width: 16px;
  height: 16px;
  margin: 0 0.4vw 0 0;
}
body main .socials-container .socials #google,
body main .socials-container .socials #twitter {
  width: 20px;
  height: 20px;
}
body main .socials-container .socials:nth-of-type(1) {
  margin-left: 0;
}
body main .socials-container span {
  display: inline-block;
  height: 100%;
}
body main .socials-container span::before {
  content: "/";
  margin-right: 0.4vw;
}
body footer {
  order: 3;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}
body footer #wrapper {
  position: fixed;
  width: 140px;
  height: 60px;
  bottom: 0;
  right: 50%;
  margin-right: -70px;
  overflow: hidden;
}
body footer .triangle {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  width: 100px;
  height: 96px;
  top: 20px;
  position: relative;
  border-radius: 6px;
  margin: 0 auto;
}
body footer .triangle p {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 40px;
  padding: 15px 0 0 3px;
}

@media only screen and (max-width: 1220px) {
  #logo {
    margin-right: 45vw !important;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background: url("../../assets/bg_image2.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  body nav {
    font-size: 10px !important;
  }
  body nav .option {
    padding: 7px 5px 7px 0 !important;
  }
  body nav hr {
    margin-top: 7px !important;
  }
  body nav .contact {
    padding: 6px 20px !important;
  }
  body #logo {
    margin-right: 42vw !important;
  }
  body main .motto {
    margin-top: 12vh !important;
    font-size: 26px !important;
    width: 50% !important;
  }
  body main .animation {
    margin-top: 13vh !important;
    width: 80px !important;
    height: 80px !important;
  }
  body main .animation svg {
    width: 76px !important;
    height: 76px !important;
  }
  body main .socials-container span {
    font-size: 10px !important;
  }
  body main .socials-container .socials object {
    width: 15px !important;
    height: 15px !important;
  }
  body main .socials-container .socials #google,
body main .socials-container .socials #twitter {
    width: 19px !important;
    height: 19px !important;
  }
  body footer {
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 920px) {
  body #logo {
    margin-right: 40vw !important;
  }
  body nav .contact {
    padding: 6px 16px !important;
  }
}
@media only screen and (max-width: 870px) {
  body #logo {
    margin-right: 36vw !important;
  }
  body main .motto {
    font-size: 22px !important;
  }
}

/*# sourceMappingURL=src/css/main.css.map */
