@import "variables";
@import "mixins";

html,body{
  margin: 0 !important;
  padding: 0 !important;
}

body{
  display: flex;
  flex-wrap: wrap;
  background: url('../../assets/bg_image.jpg') no-repeat center center fixed;
  @include prefix('background-size', '100% 100%');
  font-family: 'Raleway', sans-serif;

  object{
    pointer-events: none;
  }

      a{
        text-decoration: none;
        color: inherit;
      }

      nav{
          display: flex;
          font-weight: 600;
          font-size: 11px;
          order: 1;
          width: 100%;

          #logo{
              margin: 5vh 52vw 0 4vw;
              order: 1;
            img{
              height: 6vh;
            }
          }

          #hamburger_menu{
            display: none;
            order: 2;
            min-width: 32px;
            min-height: 22px;
          }

          #drawer{
            order: 2;
            display: flex;

            #image{
              display: none;
              width: 150px;
              margin: 20px auto 10px;

              img{
                height: 30px;
                width: 150px;
              }
            }

            #close{
              display: none;
              z-index: 10;
              width: 22px;
              height: 22px;
              position: fixed;
              right: 0;
              margin: 20px 30px 0 0;
            }

            .option{
              display: block;
              text-transform: uppercase;
              margin: 5.5vh 0 0 2vw;
              color: $font-color;
              order: 2;
              padding: 8px 5px 8px 0;
              line-height: 10px;
              height: 10px;

            hr {
              display: none;
              height: 0;
              border: 0;
              width: 50%;
              border-bottom: 2px solid #fff;
              margin: 8px 0 0;
              padding: 0;
            }

            &:hover{
                  hr{
                    display: block;
                  }
            }
          }

          .visited{
            border-bottom: 2px solid $font-color;
          }

          .contact{
            border-radius: 3px;
            border: solid 2px $font-color;
            padding: 7px 20px;
          }

          .contact:hover{
            background-color: $font-color;
            color: $bg-color;
          }
        }
        .open{
          @include prefix('transform', 'translate(0, 0) !important');
        }

        #tags{
          order: 3;
          display: none;
          margin-top: 5.5vh;

          .socials{
            display: inline-block;
            margin-left: 35px;
            vertical-align: middle;
          }

          .socials:nth-of-type(1){
            margin-left: 0;
          }
        }
      }

      main{
        order: 2;
        width: 100%;

        .motto{
          font-size: 26px;
          width: 60%;
          margin: 15vh auto 0;
          text-align: center;

          span{
            color: $font-color;
            font-weight: 600;
          }
        }

        .animation{
            margin: 12vh auto 0;
            width: 90px;
            height: 90px;

            object{
              width: 80px;
              height: 80px;
            }

            .clicked{
              @include prefix('animation', 'spin 2s linear');
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @-ms-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @-o-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg);} }

        }

        .bottom{
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 600;
          color: $font-color;
          width: 100%;
          margin: 12vh auto 0;
          text-align: center;
        }

        .socials-container{
          width: 100%;
          margin: 3vh auto 0;
          text-align: center;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          color: $font-color;

          .socials{
            display: inline-block;
            margin-left: 2.5vw;
            vertical-align: middle;


            object{
              width: 16px;
              height: 16px;
              margin: 0 0.4vw 0 0;
            }

            #google,
            #twitter{
              width: 20px;
              height: 20px;
            }
          }

          .socials:nth-of-type(1){
            margin-left: 0;
          }

          span{
            display: inline-block;
            height: 100%;
          }

          span::before {
              content: "/";
              margin-right: 0.4vw;
          }

        }

      }

      footer{
        order: 3;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 10px;

        #wrapper {
          position: fixed;
          width: 140px;
          height: 60px;
          bottom: 0;
          right: 50%;
          margin-right: -70px;
          overflow: hidden;
        }

        .triangle {
          @include prefix('transform', 'rotate(45deg)');
          background-color: $font-color;
          width:100px;
          height:96px;
          top: 20px;
          position: relative;
          border-radius: 5px;
          margin: 0 auto;
        }

        .triangle p {
          @include prefix('transform', 'rotate(-45deg)');
          width: 40px;
          padding: 15px 0 0 3px;
        }
      }

  }

  //Media Queries

  @import "queries";
