@import "variables";
@import "mixins";



@media only screen and (max-width: 1200px){
  #logo{
    margin-right: 45vw !important;
  }
}

@media only screen and (max-width: 1024px){
  body{
    background: url('../../assets/bg_image2.jpg') no-repeat center center fixed;
    @include prefix('background-size', '100% 100%');

    nav{
      font-size: 10px !important;
    }

    #logo{
      margin-right: 40vw !important;
    }

    main{
      .motto{
        margin-top: 12vh !important;
        font-size: 24px !important;
      }

      .animation{
          margin-top: 13vh !important;
          width: 80px !important;
          height: 80px !important;
      }
    }
  }
}
