@import "variables";
@import "mixins";



@media only screen and (max-width: 1220px){
  #logo{
    margin-right: 45vw !important;
  }
  main{
    .motto{
      width: 35% !important;
    }
  }
}


@media only screen and (max-width: 1024px){
  body{
    background: url('../../assets/bg_image2.jpg') no-repeat center center fixed;
    @include prefix('background-size', '100% 100%');

    nav{
      font-size: 10px !important;

      .option{
        padding: 7px 5px 7px 0 !important;
      }

      hr{
        margin-top: 7px !important;
      }

      .contact{
        padding: 6px 20px !important;
      }
    }

    #logo{
      margin-right: 42vw !important;
    }

    main{
      .motto{
        margin-top: 12vh !important;
        font-size: 26px !important;
        width: 39% !important;
      }

      .animation{
          margin-top: 13vh !important;
          width: 80px !important;
          height: 80px !important;

          object{
            width: 76px !important;
            height: 76px !important;
          }
      }

      .socials-container{

        span{
          font-size: 10px !important;
        }

        .socials{
          object{
            width: 15px !important;
            height: 15px !important;
          }

          #google,
          #twitter{
            width: 19px !important;
            height: 19px !important;
          }
        }
      }

    }

    footer{
      font-size: 9px !important;
    }
  }
}


@media only screen and (max-width: 920px){
  body{
    #logo{
      margin-right: 40vw !important;
    }
    nav{
      .contact{
          padding: 6px 16px !important;
      }
    }
  }
}


@media only screen and (max-width: 870px){
  body{
    #logo{
      margin-right: 36vw !important;
    }

    main{
      .motto{
        font-size: 22px !important;
      }
      .animation{
          margin-top: 15vh !important;
      }
    }
  }
}


@media only screen and (max-width: 800px){
  body{
    #logo{
      margin-right: 25vw !important;
    }
    main{
      .motto{
        font-size: 20px !important;
        width: 46% !important;
      }
    }
  }
}


@media only screen and (max-width: 680px){
  body{
    #logo{
      margin-right: 20vw !important;
    }

    main{
      .motto{
        font-size: 20px !important;
      }
      .animation{
          margin-top: 16vh !important;
      }
    }
  }
}


@media only screen and (max-width: 600px){
  body{
    #logo{
      margin-right: 15vw !important;
    }
    main{
      .motto{
        font-size: 20px !important;
        width: 50% !important;
      }
    }
  }
}


@media only screen and (max-width: 570px){
  //THE HAMBURGER MENU ANIMATION
  body{
    nav{
      #hamburger_menu{
        display: block;
        margin: 6vh 10vh 0 42vw;
      }

      #drawer{
        @include prefix('transform', 'translate(300px,-530px)');
        @include prefix('transition', 'transform 0.1s ease-in');
        z-index: 10;
        background-color: $bg-color;
        width: 320px;
        height: 530px;
        padding: 10px;
        flex-direction: column;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        font-size: 14px;

        .contact{
          padding: 7px 20px !important;
        }

        #image{
          display: block;
        }

        #close{
          display: block;
        }

        #tags{
          display: block;
        }

        .option{
          margin: 4vh auto;
          width: 100px;
        }
      }
    }
    main{
      .motto{
        font-size: 18px !important;
      }
      .animation{
          margin-top: 17vh !important;
      }
    }
    footer{

      .triangle{
        width:60px;
        height:59px;
        top: 35px;
      }

      p {
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
      }
      p:after {
        content:'+';
        visibility: visible;
        display: block;
        position: absolute;
        //padding: -10px 0 0 3px;
        margin: -30px 0 0 4px;
        width: 18px;
        font-size: 16px;
      }
    }
  }
}


@media only screen and (max-width: 525px){
  body{
    background: url('../../assets/bg_image_mobile.jpg') no-repeat center center fixed;
    @include prefix('background-size', '100% 100%');

    nav{

      text-align: center;

      #logo{
        width: 170px;
        margin: 5vh auto 0 calc(50% - 85px);

      }

      #hamburger_menu{
        margin: 6vh 10vh 0 10vw !important;
      }
    }

    main{
      .motto{
        font-size: 22px;
        color: $font-color;
        margin-top: 8vh !important;
        width: 50%;
      }
      .animation{
          margin-top: 13vh !important;
      }
    }
  }
}
